.text-uppercase {
  text-transform: uppercase;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Arial", serif;
}

button {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.app .header {
  flex: 0 0 auto;
}
.app__content {
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: relative;
  z-index: 100;
  height: 50px;
  font-size: 2rem;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header__link {
  text-decoration: none;
  color: #FFF;
  white-space: nowrap;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  color: #FFF;
  cursor: pointer;
}

.login-icon {
  width: 25px;
  height: 25px;
  fill: #FFF;
}

.menu {
  width: 50%;
}
.menu__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__link {
  text-decoration: none;
  color: #FFF;
  white-space: nowrap;
}

.burger-button {
  position: relative;
  width: 35px;
  height: 25px;
  background-color: transparent;
  border: none;
}
.burger-button span {
  width: 80%;
  margin-left: auto;
  height: 2px;
  background-color: #FFF;
}
.burger-button span::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
}
.burger-button span::after {
  content: "";
  width: 90%;
  height: 2px;
  background-color: #FFF;
  position: absolute;
  bottom: 0;
  right: 0;
}

.home {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #020923;
  padding-top: 50px;
}

.circle {
  height: 80vw;
  width: 80vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #FFF;
  background: radial-gradient(circle, rgb(159, 167, 198) 0%, rgb(72, 73, 115) 32%, rgb(2, 9, 35) 83%);
  box-shadow: 0px 0px 50px 20px rgb(21, 26, 57);
  z-index: -1;
}
.circle::before {
  content: "";
  height: 50vw;
  width: 50vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #FFF;
}

.swiper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.hexagon {
  transform: rotate(90deg);
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.hexagon_lg {
  width: 300px;
  height: 300px;
}
.hexagon_md {
  width: 250px;
  height: 250px;
}
.hexagon_sm {
  width: 180px;
  height: 180px;
}
.hexagon__inner {
  position: relative;
  display: block;
  width: 60%;
  height: 100%;
  background-color: #FFF;
  border-radius: 10px;
}
.hexagon__inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  transform: rotate(60deg);
  border-radius: 10px;
}
.hexagon__inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  transform: rotate(-60deg);
  border-radius: 10px;
}
.hexagon__content {
  position: absolute;
  z-index: 10;
}

/*# sourceMappingURL=style.css.map */
